@mixin flex($direction:row,$justify:stretch,$align:start,$gap:0){
    display:flex;
    flex-direction:$direction;
    justify-content: $justify;
    align-items: $align;
    gap:$gap;
}
nav{
    width:100%;
    background-color: rgb(42, 42, 75);
    color:white;
    @include flex(row,space-between,center);
    padding: 0.5rem 1rem;
    .actions{
        @include flex($gap:1rem)
    }
    .name{
        text-decoration: none;
        color: white;
    }
    .actions a{
        text-decoration: none;
        color: white;
        transition: all 0.2s ease-in-out;
        &:hover{
            color: rgb(77, 166, 244);
        }
    }
}