<section class="posts">
  @if(isLoading == true){
  <app-loader></app-loader>
  } @else { @for(data of postlistdata;track $index){
  <div class="post">
    <h2>{{ data.title }}</h2>
    <p>
      {{ data.body }}
    </p>
    <div class="buttons">
      <a [routerLink]="[data.id]">
        <button>View Comments</button>
      </a>
    
        <a routerLink="" *ngIf="token">
        <button (click)="handleEdit(data.id)">Edit</button>
      </a>
      <a *ngIf="token">
        <button (click)="handleDelete(data.id)">Delete</button>
      </a>
    </div>
  </div>
  } }
  @if(isEditing == true){
    <section class="edit">
      <app-editpost [id]="id" (isEditState)="handleEditState($event)"></app-editpost>
    </section>
  }
</section>
